@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  user-select: none;
}

img{
  height: 3rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

